@{
    ViewData["Title"] = "Help - Tutorial";
}

<h1>Tutorial - Page 2</h1>
<p>Here's the second thing you need to know about my website.</p>

<a asp-action="Index" asp-route-id="Page1" class="btn btn-secondary">Prev</a>
<a asp-action="Index" asp-route-id="Page3" class="btn btn-get-started mx-3">Next</a>
